{% extends 'base.html'%}

{% block content%}

<form method="post">
  {% csrf_token %}
  <label for="food">What Food are you looking for?</label>
  <input type="text" name="search_term" aria-label="What Food Item are you looking for?">
  <input type="submit" value="Find Food">
</form>

<ul>
  {% for food in foods.hints %}
  <li>
    <h5>{{food.food.label}} ({{food.measures.0.label}} {{food.measures.0.weight}}g)</h5>
    <p><strong>Calories:</strong> {{food.food.nutrients.ENERC_KCAL}}g</p>
    <p><strong>Protein:</strong> {{food.food.nutrients.PROCNT}}g</p>
    <p><strong>Fat:</strong> {{food.food.nutrients.FAT}}g</p>
    <p><strong>Carbs:</strong> {{food.food.nutrients.CHOCDF}}g</p>
  </li>
  {% endfor %}
</ul>


{% endblock %}