{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

  <h1>Hello, {{user.first_name}}</h1>

  <form action="" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    <table>
    {% for field in form.visible_fields %}
    <tr>
      <th>{{ field.label_tag }}</th>
    </tr>
    <tr>
      <td>{{field}}</td>
      <td>
        {{field.errors}}
        {{ field.help_text }}
      </td>
    </tr>
    {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}


{% endblock %}