{% extends "base.html" %}

{% block content %}
 <h1>Task Page</h1>
<ol>
 {% for task in task_list %}
  <li style="padding-top:10px;">
    <p><strong>{{ task.task_title }}</strong></p>
    <p>{{task.task_summary}}</p>
    <form action="{% url 'delete_task' task.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    <a class="btn btn-warning" href="{% url 'update_task' task.id %}">Update</a>
  </li>
  {% endfor %}
</ol>

{% endblock %}